/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@450;700&family=Orbitron:wght@400..900&display=swap");

/* Universal Styling*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  font-size: 18px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body::-webkit-scrollbar {
  display: none;
}

/* Utility Classes  */
.container {
  width: min(100%, 960px);
  padding: 0 1.4rem;
  margin: 0 auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Header Section */
header {
  background-color: #57a4ce;
  color: #FFF;
  min-height: 80px;
}
header h1 {
  font-size: 1.5rem;
}



/* Main Section */

.box {
  height: 250px;
  width: 450px;
  border: 4px solid #57a4ce;
  border-radius: 10px;
}

.display-screen {
  width: 100%;
  height: 150px;
  background-color: #57a4ce;
  border-radius: 5px 5px 0 0;
}

.display-screen p {
  width: 100%;
  margin: 0 1.2rem;
  border: 5px solid rgba(23, 116, 129, 0.753);
  border-radius: 9.5px;
  font-size: 1.4rem;
  padding: 5px 0 0 5px;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
  text-align: center;
  height: 50px;
  background-color: #421826;
}

.btns {
  height: 94px;
  background-color: #4a4a70;
  border-radius: 2px 2px 7px 7px;
  justify-content: space-around;
  padding: 0 25px;
}

.btns button {
  color: #FFF;
  padding: 7.5px 25px;
  border : 1px solid transparent;
  border-radius: 15px;
  background-color: #421826;
  cursor: pointer;
}


/* Footer Section */
footer {
  background-color: #57a4ce;
  color: #FFF;
  min-height: 80px;
}

.social-icons {
  height: 50px;
  width: 280px;
  margin: 0 10px;
  border-radius: 10px;
  display: flex;
  backdrop-filter: blur(1.2px);   
  background-color: rgba(255, 255, 255, 0.249);
  justify-content: space-evenly;
  align-items: center;
}
.fa-github-square {
  color: darkslategray;
}
.fa-linkedin-square {
  color: rgb(74, 74, 191);
}
.fa-twitter-square {
  color: #0077b5;
}
.fa-instagram {
  color: #e1306c;
}

i:hover {
  color: #ece6e6;
  transition: 0.3s;
  cursor: pointer;
}