/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Geologica:wght@800&family=Montserrat:wght@400;550;800&display=swap");

/* Universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  font-size: 18px;
}

/* Utility Classes */
.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 1.4rem;
  margin: 0 auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Designing Hero Bg Section */
.hero-bg {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/music-image.webp) no-repeat 75% 50% / cover;
  height: 100vh;
  box-shadow: inset 0 -4rem 2.6rem rgba(0, 0, 0, 0.733);
}
.hero-bg .container {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 6%;
}
.main-img {
  position: relative;
}
.main-img img {
  width: min(400px, 90%);
  margin-right: 10%;
}
.main-img p {
  position: absolute;
  bottom: 40%;
  left: -32%;
  color: #fff;
  font-style: italic;
  transform: rotate(-90deg);
  font-size: 1.12rem;
}
.main-img p span {
  color: #4FA180;
  font-size: inherit;
}
.intro {
  width: min(400px, 90%);
  padding-bottom: 10%;
}
.intro p:nth-child(1) {
  font-size: 2.6rem;
  font-family: "Bungee Outline", sans-serif;
  color: #fff;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.intro p:nth-child(2) {
  font-size: 2rem;
  color: #fff;
  font-family: "Geologica", serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: -1.12rem;
  margin-bottom: 2rem;
}
.hero-btn {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  margin-right: 0.8rem;
  transition: all 0.3s ease-in-out;
}
.hero-btn i {
  padding-right: 0.3rem;
}
.listen-btn {
  padding: 0.8rem 1.8rem;
  background-color: #50A485;
}
.share-btn {
  background-color: transparent;
  border: 1.2px solid #fff;
  padding: 0.72rem 1.12rem;
}
.hero-btn:hover {
  background-color: #fff;
  color: #000;
}
/* Styling Nav Section */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}
.nav img {
  width: 2.6rem;
}
.nav i, .social i:hover {
  color: #fff;
  cursor: pointer;
}

.overlay-menu {
  position: fixed;
  min-height: 100vh;
  width: 390px;
  top: 0;
  right: 0;
  background-color: #100C0F;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 1000;
  color: #fff;
  opacity: 0;
  visibility: hidden;
}
.active {
  opacity: 1;
  visibility: visible;
}
.nav-overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  background-color: transparent;
}
.nav-overlay i {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}
.nav-overlay h3 {
  font-size: 1.5rem;
  font-family: 'Geologica', serif;
  transform: translateX(-22.5px);
}
.overlay-menu img {
  width: 3.5rem;
}
.overlay-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.overlay-menu a span {
  font-size: 0.9rem;
}
.overlay-menu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2.2rem;
  padding-left: 1.2rem;
  overflow-y: scroll;
  max-height: 402px;
}
.overlay-menu ul ::-webkit-scrollbar {
  background-color: #000;
  height: 20px;
  width: 10px;
  color: #fff;
}
.overlay-menu-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 15px;
  
}
.overlay-menu-social i  {
  padding-right: 0.546rem;
  font-size: 1.12rem;
}
.sign-btn {
  display: inline-block;
  height: 45px;
  min-width: 125px;
  text-align: center;
  line-height: 45px;
  font-size: 0.98em;
}
.signin-btn {
  background-color: transparent;
  outline: 1px solid #fff;
  margin-left: 1.2rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.signin-btn:hover {
  background-color: #fff;
  color: #000;
}
.signup-btn {
  margin-left: 0.2rem;
} 

/* .overlay-menu ul > * + * {
  padding-top: 1rem;
} */

/* Styling Social Section */
.social {
  position: fixed;
  top: 90px;
  right: 15px;
  gap: 1.2rem;
}
.social i {
  color: rgba(255, 255, 255, 0.836);
  font-size: 1.12rem;
}

/* Styling Main Section */
.main, body {
  background-color: #100C0F;
}
.head-text {
  color: #fff;
  font-size: 2.4rem;
  font-family: 'Geologica', serif;
  text-transform: uppercase;
  margin-top: 3.6rem;
  margin-bottom: 1.8rem;
}

/* Styling Stream Icons Section */
.stream-icons div {
  border: 2px solid #fff;
  width: max-content;
}
.stream-icons i {
  color: #fff;
  font-size: 1.2rem;
  padding: 1.2rem;
  border-right: 1.5px solid #fff;
}

.stream-icons .fa-solid span {
  color: #fff;
  font-size: 0.9rem;
  font-family: 'Geologica', serif;
  padding-left: 0.24rem;
}

/* Styling the tooltip */
.stream-icons div a {
  position: relative;
  text-decoration: none;
}
.tooltip {
  position: absolute;
  top: -2.2rem;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  white-space: nowrap;
  background-color: #fff;
  font-size: 0.72rem;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  visibility: hidden;
  opacity: 0;
}
.tooltip::before {
  content: ' ';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-60%);
  border: 10px solid;
  border-color: #fff #0000 #0000 #0000;
}
.stream-icons a:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease-in-out;
}

/* Styling the Tracks Section */
.music-bar {
  margin: 1.8rem 0;
}
.music-bar * {
  color: #fff;
}
.music-bar h4 {
  font-weight: 550;
  margin-right: 0.4rem;
}
.music-bar:nth-last-child(3) h4{
  margin-right: 0.12rem;
}
.music-bar:nth-last-child(1) h4{
  margin-right: 0.2rem;
}
.player-left i, .player-right i {
  font-size: 1.24rem;
  margin-left: 2.24rem;
  cursor: pointer;
}
.song-title {
  margin-left: 1.6rem;
}
.song-title p:nth-child(1){
  font-weight: 550;
}
.song-title p:nth-child(2){
  font-size: 0.84rem;
  font-weight: 550;
}





/* Styling the Footer Section */
.ft-main {
  margin: 6rem auto 2rem;
}
.ft-main > div{
  gap: 2%;
  padding: 3.12rem 0 2.6rem;
  border-top: 1.2px solid #fff;
  border-bottom: 1.2px solid #fff;
  align-items: flex-start;
}
.links, .newsletter {
  width: 32%;
}
.links a {
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Geologica', serif;
}
.links ul * + * {
  padding-top: 0.2rem;
}
.newsletter h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #615d5d;
  margin-bottom: 0.4rem;
}
.newsletter p {
  font-style: italic;
  font-size: 0.92rem;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  padding: 0.4rem 0 1.2rem;
}
.newsletter input {
  width: 100%;
  padding: 0.8rem 0.4rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #615d5d;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.92rem;
  background-color: #100C0F;
  margin-bottom: 0.4rem;
  caret-color: #fff;
}
.newsletter form {
  position: relative;
}
.newsletter i {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
  color: whitesmoke;
  padding: 0.8rem 1.2rem;
  margin-right: -0.8rem;
  margin-bottom: 0.4rem;
  transition: all 0.25s ease-in-out;
}
.newsletter i:hover {
  color: #333;
  background-color: #fff;
}

/* Styling Footer Links Section */
.ft-social {
  margin-bottom: 4rem;
}
.ft-social p {
  font-size: 0.84rem;
  font-style: italic;
  color: whitesmoke;
}
.ft-social i {
  color: #fff;
  padding-right: 0.6rem;
}

/* Styling Footer Legal Section */
.ft-legal {
  text-align: center;
  margin-bottom: 2rem;
}
.ft-legal p {
  font-size: 0.68rem;
  font-style: italic;
  color: whitesmoke;
  padding-bottom: 1rem;
}

/* Styling Aside Section */
.side-panel {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #100C0F;
  width: 250px;
  z-index: 1000;
}

/* Media Quaries For Responsive Design */

@media (max-width: 1120px) {
  .main-img p {
    font-size: 1rem;
    left: -125px;
    color: darkslategray;
  }
  .main-img p span {
    color: darkred;
  }
  .intro p:nth-child(1) {
    font-size: 2rem;
  }
  .intro p:nth-child(2) {
    font-size: 1.65rem;
    transform: translateY(5px);
  }
  .share-btn {
    padding-right: 0.5rem;
    padding-left: 0.8rem;
    border-width: 1px;
  }
  .share-btn span {
    display: none;
  }
  .hero-bg .social {
    position: absolute;
  }
  /* .share-btn i {
    transform: translateX(1.5px);
  } */
}

@media (max-width: 787px) {
  .main-img {
    bottom: 5%;
  }
  .main-img p {
    display: none;
  }
  .intro p:nth-child(1) {
    font-size: 1.8rem;
    max-width: 6ch;
    line-height: 1;
  }
  .intro p:nth-child(2) {
    font-size: 1.25rem;
    transform: translateY(15px);
  }
  .hero-bg .social {
    display: none;
  }
  .listen-btn span {
    display: none;
  }
  .listen-btn {
    padding: 0.8rem 0.4rem 0.8rem 1rem;
    border: 1px solid #50A485;
  }
  .listen-btn:hover {
    border: 1px solid #fff;
  }
  .stream-icons span {
    display: none;
  }
  .ft-social p {
    display: none;
  }
  .ft-social {
    justify-content: center;
  }
  .ft-main div {
    width: 100%;
  }
  .ft-main div:nth-child(1){
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  .ft-main div:nth-child(1) div ul li:first-child {
    padding-right: 0.4rem;
  }
  .ft-main div > ul {
    text-align: center;
  }
  .ft-main div:nth-child(3) {
    margin-top: 25px;
  }
}

@media (max-width: 512px) {
  .overlay-menu {
    width: 100%;
  }
}