/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

/* Universal */
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
 }