/* Utility Classes */
.clr-fff {
    color: black;
}
body::-webkit-scrollbar {
    display: none;
}
hr {
    background-color: rgba(46, 44, 44, 0.3);
    height: 2px;
}
/* Styling Header */
header {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: clamp(65vh, 25vh + 5vw, 100vh);
    z-index: 1;
}
.header-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    cursor: none;
}
.logo {
    font-size: 1.2rem;
    color: whitesmoke;
}
.icon {
    color: antiquewhite;
    font-size: 1.12rem;
}
.grid article img:hover, .grid article video:hover, .news-card img:hover {
    transform: scale(1.05);
    opacity: 0.9;
    transition: all 0.2s ease;
}
.overlay{
    z-index: 2;
    display: none;
    padding-top: 2.25%;
    background-color: #242423;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    color: antiquewhite;
}
.overlay .cards-hz {
    margin: 5%;
}
.overlay .brand-card:nth-child(odd) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.overlay .brand-card {
    padding: 0 5%;
}
.overlay .brand-card h5::after {
    display: none;
}
.overlay img {
    width: 275px;
    padding-bottom: 25px;
}
.overlay .cards-hz::-webkit-scrollbar {
    display: none;
}
.overlay-text {
    display: flex;
    justify-content: space-between;
}
.overlay-text p, .overlay-card p, .overlay-card h5 {
    color: antiquewhite;
    font-size: 0.8rem;
}



/* Animation Attempt Towards Nav Underline
.nav-list-items:hover {
    animation: hoval 0.3s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes hoval {
    0%{
        text-decoration: none;
    }
    100%{
        text-decoration: underline;
    }
} */

.nav-list-items {
    font-size: 0.7rem;
    color: rgba(177, 221, 210, 0.8);
    position: relative; /* Add relative positioning to parent element */
}

.nav-list-items::after {
    content: '';
    position: absolute;
    bottom: 5px; /* Position the line below the text */
    left: 0;
    width: 0; /* Initial width of the line */
    height: 1.12px; /* Set height to 2px */
    background-color: rgba(177, 221, 210, 0.8);
    transition: width 0.3s ease-in-out; /* Animate width on hover */
}

.nav-list-items:hover::after {
    width: 100%; /* Expand the line to full width on hover */
}

.nav-list-items:not(:hover)::after {
    left: auto;
    right: 0; /* Close the line towards right when not in hover state */    
    width: 0; /* Set the width to zero */
}
.intro-text {
    display: flex;
    align-items: center;
}
.intro-text div {
    width: 50%;
}
.intro-text p {
    font-size: clamp(0.5rem,0.8rem + 1vw, 1.4rem);
}
.intro-text h1 {
    display: grid;
    place-items: center;
    font-size: clamp(1.12rem,1.2rem + 10vw, 8rem);
    padding: 0;
    margin: 0;
}
.points {
    display: flex;
    justify-content: space-between;
}
.points p, .points i {
    font-size: 0.8rem;
}
.cards-hz {
    overflow-x: scroll;
    position: relative;
    overflow-y: hidden;
    cursor: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 40px;
}
.brand-card {
    display: inline-block;
    flex: 33.333% 0 0;
    padding: 0 5% 0 0;
}
.brand-card p {
    font-size: 0.8rem;
}
.brand-logo {
    height: 60px;
    padding-bottom: 25px;
}
.cards-hz::-webkit-scrollbar {
    height: 2px;
    background-color: rgba(177, 221, 210, 0.8);
}
.cards-hz::-webkit-scrollbar-thumb {
    background-color: rgb(35, 48, 45);
}
.brand-card h5{
    position: relative;
}
.brand-card h5::after {
    content: "";
    position: absolute;
    bottom: 45px;
    left: -0.5%;
    min-width: 25px;
    width: 15%;
    height: 1.12px;
    background-color: #1f1d1d;
}
.chg-bg {
    display: flex;
    align-items: center;
}
.chg-bg-video {
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.chg-bg video {
    height: 100%;
    transform: translateX(-50%);
}
.chg-bg-text {
    width: 50%;
    padding: 0 2.5%;
}
.chg-bg h1 {
    font-size: clamp(1.2rem,1.2rem + 2vh, 6rem);   /*3.4rem*/
}
body.chg-bg-active {
    background-color: rgb(58, 47, 47);
    transition: background-color 1s ease;
}
.chg-bg-active h1, .chg-bg-active p, .chg-bg-active .feat-2, .chg-bg-active .news-card h2 {
    color: antiquewhite;
}

.feat {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.news-img {
    width: 250px;
}
.news-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 2.5%;
    border-top: 1px solid rgba(32, 39, 37, 0.8);
    margin-top: 2.5%;
}
.news-card i{
    padding: 2.5%;
}

footer {
    background-color: darkslategray;
}
.outro-text{
    display: flex;
}
.outro-text h2{
    width: 50%;
    color: antiquewhite;
}
.outro-text p,.outro-text a {
    color: antiquewhite;
    font-size: 1.2rem;
}
.outro-links {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.outro-links div {
    width: 40%;
}
.outro-links * {
    color: antiquewhite;
}
.footer-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 45px;
    flex-wrap: wrap;
}
footer ul {
    padding: 0;
}
#email-id {
    width: 80%;
    padding: 25px 0;
    border: 0;
    border-bottom: 1px solid rgba(177, 221, 210, 0.8);
    border-radius: 0%;
}

.ft-legal {
    background-color: rgb(19, 18, 18);
}
.ft-legal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ft-legal p, .ft-legal a {
    color: antiquewhite;
    opacity: 0.91;
    font-size: 0.7rem;
    padding: 2.5% 0 0;
}
.mouse-circle {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(255, 250, 243);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.mouse-circle p {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 25% 15%;
    color: black;
}
.drag-circle {
    position: absolute;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(172, 161, 149);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.drag-circle p {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(14, 13, 13,0.8);
    padding-top: 35% ;
}

@media (max-width:586px) {
    .mouse-circle,.nav-links-two,.brand-card p ,.drag-circle,.fa-arrow-alt-circle-right,.footer-links,.icon {
        display: none;
    }
    header {
        cursor: auto;
        height: clamp(25vh, 25vh + 5vw, 100vh);
    }
    .cards-hz {
        cursor: auto;
    }
    .news-card,.outro-text, .outro-links, ul, .ft-legal,.chg-bg {
        flex-direction: column;
    }
    .intro-text {
        flex-direction: column-reverse;
    }
    .intro-text h1 {
        padding: 0 0 10% 0;
        margin: 0;
    }
    .chg-bg-video {
        height: 350px;
        padding: 5% 45%;
    }
    .chg-bg-text,.news-img,.chg-bg-video,.outro-links {
        width: 100%;
    }
    #email-id,label {
        width: 160%;
    }
    .chg-bg-active h5, .chg-bg-active h2 {
        color: antiquewhite;
    }
    .chg-bg-active .brand-card h5::after {
        background-color: antiquewhite;
    }
    .chg-bg-active img {
        filter: invert(1);
        -webkit-fliter: invert(1);
    }
    .intro-text div {
        width: 100%;
        padding: 0 10%;
    }
}
@media (min-width:1244px) {
    header {
        height: 100vh;
    }
}